* {
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  margin: 0;
}

#bg1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/bg1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#bg1::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}
#bg1-overlay {
  position: absolute;
  text-align: center;
  color: white;
  align-self: center;
}

.services {
  position: relative;
  width: 100%;
  height: 300px;
  background: url("../images/s_image.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.sevices::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}
.services-overlay {
  position: absolute;
  text-align: center;
  color: white;
  align-self: center;
}

/* .what-we-do{

} */

.port-imgs {
  width: 20%;
  margin: 10px;
}

.port-imgs > img {
  width: 100%;
}

#name {
  margin-right: 10px;
}

#name,
#email,
#textarea {
  background-color: transparent;
  color: white;
}

input[type="email"]::placeholder,
input[type="text"]::placeholder {
  /* Firefox, Chrome, Opera */
  color: white;
}

input[type="email"]:-ms-input-placeholder,
input[type="text"]::placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

input[type="email"]::-ms-input-placeholder,
input[type="text"]::placeholder {
  /* Microsoft Edge */
  color: white;
}

.contact-us {
  position: relative;
  width: 100%;
  height: 350px;
  background: url("../images/c_image.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.contact-us::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}
.contact-us-overlay {
  position: absolute;
  text-align: center;
  color: white;
  align-self: center;
}

.social-icons > div {
  width: 3%;
  margin: 10px;
}

.social-icons > div > img {
  width: 100%;
}

.description {
  display: none;
}

.product,
.description,
.icon {
  cursor: pointer;
}

.port-imgs {
  position: relative;
  cursor: pointer;
}
.port-imgs::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}
.port-overlay {
  position: absolute;
  color: white;
  top: 5px;
  bottom: 5px;
  right: 5px;
  left: 5px;
  border: 2px solid white;
  display: none;
}

.port-overlay > h6 {
  margin: 5px;
}

.logo {
  width: 10%;
  margin-bottom: 15px;
}

.mouse-click {
  margin-top: 20px;
}

.ln-height {
  line-height: 30px;
  padding-right: 40px;
  padding-left: 40px;
}

.product {
  width: 25% !important;
}
.contact-us-overlay {
  width: 55% !important;
}
.popup {
  position: absolute;
  width: 25% !important;
  background-color: burlywood;
  height: auto;
  border-radius: 3px;
  top: 20px;
  right: 10px;
  display: none;
}
.popup > form {
  padding: 10px;
}

.text-end {
  color: red;
  cursor: pointer;
}

.msg {
  padding: 5px;
}

/* Media queries */
@media only screen and (max-width: 550px) {
  #bg1 {
    height: 300px;
  }
  .port-overlay > h6 {
    font-size: 10px;
  }
  .w-50 {
    width: 75% !important;
  }
  .deeds {
    flex-direction: column;
  }
  .product {
    width: 75% !important;
  }
  .contact-us-overlay {
    width: 75% !important;
  }
  .popup{
     width: 60%!important;
  }
}
